
		<posicion x ="550" y = "350"   reciever ="http://desolate-springs-9892.herokuapp.com/localizacion/index" >
			
		</posicion>
		
        <form action="/resultados/index" method="post">
            <input type="hidden" name="DSK" value ="<%= @DSK %>"></input>
			<input type="submit" value="Ver Restaurantes"></input>
			
			
			
			
           
        </form>

        <iframe width="360" height="360" src="http://www.youtube.com/embed/DlOX9VRdOlY?feature=player_detailpage" frameborder="0" allowfullscreen=""></iframe>