<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <title>Buscador de Restaurantes</title>
    <meta charset="utf-8">
    </meta>
  
</head>
<body>
<header>
    <div class="container">
    	<h1><a href="index.html">Buscador de Restaurantes</a></h1>
    	<img width="69" height="69" src="http://pfc.p.ht/appRubyonRails/restaurante.jpg"  style="border:0;margin-top:5px;" > </img>
      <nav>
        <ul>
        	<li><a href="index.html" class="current">Inicio</a></li>
        </ul>
      </nav>
    </div>
	</header>

  <div class="main-box">
    <div class="container">
      <div class="inside">
        <div class="wrapper">
    
          
          <section id="content">
            <article>
            	<h2>Busque el mejor restaurante <span> por su posicion</span></h2>
              <p>Esta aplicacion permite buscar un restaurante cercano. Pulse el boton con la imágen "localización" para obtener sus coordenadas y buscar restaurantes cercanos. A continuacion pulse "Ver restaurantes" y visualizara todos los restaurantes mas cercanos. </p>
             
            </article> 
            <%= yield %>
          </section>
		  
		  
		  
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
    	<div class="wrapper">
        <div class="fleft">Copyright - Proyecto fin de carrera de Guillermo Robles Fernández. "Buscador de Restaurantes"</div>
      </div>
    </div>
  </footer>


</body>
</html>
